<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Přidej inzerát</h1>

<p th:each="error: ${errors}" th:text="${error}" style="background-color: red;"></p>

<form action="/add" method="post">
    <input type="text" name="text">
    <select name="kategorie">
        <option th:each="kat: ${kategorie}" th:value="${kat}" th:text="${kat}"></option>
    </select>
    <input type="number" name="cena">
    <button type="submit">Add</button>
</form>
</body>
</html>