<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Odstranit inzerat</h1>

<p th:each="error: ${errors}" th:text="${error}" style="background-color: red;"></p>

<form action="/delete" method="get">
    <input type="hidden" name="id" th:value="${inzerat.getId()}">
    <input type="text" name="heslo">
    <button type="submit">Odstraň</button>
</form>

</body>
</html>